.textInput{
    .label{
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
    }
    .required{
        color: var(--text-required);
    }
    .inputWrapper{
        width: 100%;
        background-color: transparent;
        height: 33px;
        position: relative;
        display: flex;

        .prefixIconStyle{
            height: 100%;
            width: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .suffixIconStyle{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        input{
            position: absolute;
            background-color: transparent;
            width: 100%;
            height: 100%;
            padding-left: .5rem;
            border: 1px solid #cbd5e1;
            border-radius: 0.5rem;
        }

        input:hover{
            border: 1px solid black;
        }

        input:focus{
            outline: none;
            border: 1px solid black;
        }

    }
    .prefixIconPadding{
        padding-left: 2rem !important;
    }
    .suffixIconPadding{
        padding-right: 2rem !important;
    }
    .errorMessage{
        font-size: 14px;
        color: red;
    }
    .helperText{
        font-size: 12px;
    }
}