.actionButtons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    .circleButtonStyle {
        background-color: #106c8f;
        border-radius: 50%;
        padding: 6px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
        transition: 300ms;

        &:hover {
            background-color: #347d9d;
        }
    }
}